// Rule installed by sys-apps/pandora-misc-files

polkit.addRule(function(action, subject) {
	if (
		subject.local == true && (
			action.id == "org.freedesktop.consolekit.system.restart" ||
			action.id == "org.freedesktop.consolekit.system.stop"
		) {
		return "yes";
	}
});
